.venv/
__pycache__/
.env
.pytest_cache/
.coverage
*.pyc
terraform.tfvars
*.tfstate
*.tfstate.*
.terraform/
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl
terraform/terraform.tfvars
